<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<br />
<p>
  <strong>Cliente: </strong> {{ user }}
</p>
<br />
<p>
  <strong>Data/Hora: </strong> {{ date }} <br />
</p>
<br />
<p>
  <small>
    O horário esta novamente disponivel para novos agendamentos
  </small>
</p>
